@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Inter:wght@300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Aoboshi One', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: #011936;
    font-weight: bold;
}

img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{ display: none; }

body {
    display: flex;
    flex-direction: column;
    background-color: #C0DFA1;
}

.navbar {
    background-color: #C0DFA1;
}

.navbar-toggler-icon {
    color: #011936;
}

header {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 210px 0 0 0;
    z-index: 10;
}

header h1 {
    font-size: 30px;
    font-weight: bolder;
}

header button {
    width: 8em;
    height: 2em;
    border-radius: 23px;
    background-color: #C0DFA1;
    border: 1px solid #C0DFA1;
}

header button a {
    text-decoration: none;
    color: #011936;
    font-size: 13px;
}

header > div {
    width: 200px;
    margin-left: 4em;
}

#vector {
    width: 365px;
    position: absolute;
    top: 110px;
    left: 0%;
    z-index: -1;
}


#mujer-vector {
    width: 365px;
    position: absolute;
    bottom: 80px;
    margin-left: 10px;
}

.menu-style {
    background-color: transparent;
    border: none;
    padding: 1.3em;
}

.navbar-toggler-icon {
    width: 2em;
    height: 2em;
}

.navbar-nav .nav-link.active {
    color: #011936;
}

main {
    margin-top: 480px;
}

.globito-deco {
    position: absolute;
}


#box {
    width: 70%;
    flex-direction: column;
    background-color: #F2F9EC;
    border-radius: 269px;
    padding: 5.5em 2.3em 5.5em 2.3em;
}


h2 {
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 1em;
}

#box p {
    font-size: 12px;
    padding: .5em;
}

#formacion {
    margin-top: 200px;
    flex-direction: column;
    padding: 0 2em;
    align-items: center;
}

h3 {
    font-size: 12px;
    font-weight: bolder;
}

h4 {
    font-size: 11px;
}

#formacion p {
    font-size: 10px;
}

.box {
    width: 14em;
    height: 6vh;
    background-color: #F2F9EC;
    border-radius: 60px;
}

.box h2 {
    padding: .5em 0 2em 0;
}

#formacion div.box {
    margin-bottom: 2em;
}

.margin-texto-linea {
    margin-top: 3.5em;
}

#globo2 {
    margin-top: 3.8em;
}

#globo3 {
    margin-top: 5.6em;
}

#texto1, #texto2 {
    margin-top: 12em;
}

#portfolio {
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
}

/* Estilos para el carrusel */

.carousel-container {
    background-color: #27414B;
    display: flex;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 42px;
    margin-top: 75px;
}

.carousel-control {
    color: #ffff;
}

.carousel-item > img {
    border-radius: 10px;
    padding: 3em;
}

.carousel-control-prev span, .carousel-control-next span {
    color: #ffff;
}

#contacto {
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
}

#contacto h2 {
    padding-bottom: 0;
    margin-bottom: 0;
}

form {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

form input, textarea {
    border-radius: 10px;
    border: 1px solid #F2F9EC;
    background-color: #F2F9EC;
    padding: .5em .5em .5em 1.5em;
    font-size: 12px;
    margin-top: 2em;
}

form button {
    border-radius: 10px;
    border: 1px solid #27414B;
    background-color: #27414B;
    align-self: flex-end;
    width: 30%;
    margin-top: 3em;
    color: #F2F9EC;
    padding: .5em;
    font-size: 12px;
}

form input:focus, textarea:focus {
    outline: none;
}

::placeholder {
    color: #011936;;
}

#name {
    margin-top: 0;
}

footer {
    margin-top: 50px;
    background-color: #27414B;
    flex-direction: column;
}

footer p {
    color: #ffff;
    font-weight: normal;
    font-size: 10px;
}

.grid-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "linkedin github"
    "heyjuniors wpp"
    ;
    justify-items: end;
    padding: 2em;
}

.grid-icons a {
    width: 45%;
    padding: 1em;
}

#linkedin {
    grid-area: linkedin;
}

#github {
    grid-area: github;
    justify-self: flex-start;
}

#heyjuniors {
    grid-area: heyjuniors;
}

#wpp {
    grid-area: wpp;
    justify-self: flex-start;
}

#copyright {
    border-top: 1px solid #ffff;
    padding: 1em;
    margin: 0 3em;
}

@media (max-width: 992px){
    #vector2 {
        display: none;
    }
    #globo-der {
        right: 0%;
        top: 102%;
    }
    
    #globo-izq {
        left: 0%;
    }
    #globo-der2, #globo-izq2 {
     display: none;   
    }
}

@media (min-width: 992px) {
    .navbar-brand img {
        width: 250px;
    }
    .navbar-brand {
        margin-left: 2em;
    }
    .nav-link {
        font-size: 25px;
    }
    .nav-item {
        padding-left: 4em;
    }
    .container-fluid > div {
        margin-right: 2.5em;
    }
    #vector {
        display: none;
    }
    header div{
        width: 400px;
        margin-top: 200px;
        margin-left: 11em;
    }
    header h1 {
        width: 400px;
        font-size: 55px;
        padding-bottom: .2em;
    }
    header p {
        font-size: 30px;
        padding-bottom: .2em;
    }
    header button a {
        font-size: 20px;
    }
    header button {
        width: 13em;
        height: 3em;
    }
    #mujer-vector {
        width: 900px;
        bottom: 0;
        right: 50px;
        margin: 0;
    }
    #vector2 {
        position: absolute;
        top: 130px;
        left: 0;
        z-index: -1;
    }
    .menu-style {
        display: none;
    }
    h2 {
        font-size: 42px;
    }
    #sobre-mi p {
        font-size: 25px;
    }
    #globo-der, #globo-izq {
        display: none;
    } 
    #globo-der2 {
        right: 0%;
        top: 102%;
    }
    #globo-izq2 {
        left: 0%;
    }
    #formacion {
        margin-top: 400px;
    }
    .box{
        width: 400px;
        height: 5.8em;
    } 
    .carousel-container {
        width: 60%;
        border-radius: 95px;
        height: 700px;
    }
    .carousel-item > img {
        padding: 17em 12em 12em 12em;
        text-align: center;
    }
    .carousel-container span {
        font-size: 60px;
    }
    form {
        width: 50%;
    }
    form input, textarea {
        border-radius: 23px;
        font-size: 23px;
    }
    form textarea {
        height: 10em;
    }
    form button {
        border-radius: 23px;
        width: 15%;
        font-size: 23px;
    }
    .grid-icons {
        display: flex;
        justify-content: center;
    }
    .grid-icons a {
        width: 100px;
        padding: 4em 0 0 0;
    }
    #copyright p {
        font-size: 18px;
    }
    #copyright {
        margin: 0 20em;
    }
    #globo1, #globo2, #globo3 {
        width: 300px;
    }
    #globo3 {
        margin-top: 9.2em;
    }
    #globo2 {
        margin-top: 7.4em;
    }
    #div-globo2 {
        justify-content: end;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 18px;
    }
    #formacion p {
        font-size: 14px;
    }
    #img-linea-tiempo {
        width: 58px;
    }
    #formacion div.row {
        justify-content: center;
    }
    #texto2 {
        margin-top: 10.5em;
    }
    #texto1 {
        margin-top: 10em;
    }
    .margin-texto-linea {
        margin-top: 2.4em;
    }
    #formacion div.container {
        margin-top: 3em;
    }
}